.comment {
  @include grid-row();
}

.comment-info {
  @include grid-column($columns: 12, $collapse: true);
  @include grid-row();
  line-height: $user-avatar-small-size;
}

.comment-info-actions {
  @include grid-column($columns: 2, $collapse: true);
}

.comment-info-author {
  @include grid-column($columns: 10, $collapse: true);
}

.comment-info-date {
  @include grid-column($columns: 4);
  @include type-size-small;

}

.comment-info-arrow {
  @include type-size-large;
  @include grid-column($columns: 2);
  color: $color-text-lighter;
  line-height: $user-avatar-small-size;
}

.comment-info-replyto {
  @include grid-column($columns: 4);
}


.comment-post {
  @include grid-column($columns: 12);
  padding-top: -rhythm-size(3);
}

.comment-set-item {
  border-bottom: 1px solid $color-accent-2;
  margin: 0 0 $rhythm-item-small;
  padding: $rhythm-item-small 0;
  &:last-of-type {
    border: 0;
  }
}