.entry-footer {
  @extend %grid-container;
}

.entry-footer-authors {
  div:last-of-type {
    padding-bottom: $rhythm-item-small / 2;
  }
}

.entry-footer-author {
  @extend %rhythm-item-small;
}

.entry-footer-notify {
  @extend %grid-column-4;
  @extend %grid-column-offset-2;
  @extend %grid-container;
  text-align: center;
  p {
    @extend %grid-column-8;
    @extend %border-seperator-top;
    color: $color-text-lightest;
    display: inline-block;
    margin: 0 auto;
    margin-bottom: $rhythm-item-small / 2;
    padding-top: $rhythm-item-small;
    text-align: center;
  }
  form {
    @extend %grid-column-8;
    margin: 0 auto;
  }
}