.entry-header {
  @extend %grid-container;
  margin: 0 auto;
  text-align: center;
}

.entry-header-hero {
  @extend %grid-column-8;
  $height-ratio: 4;
  $size: -rhythm-size-large($height-ratio) * -calc-strip-unit(-rhythm-size-large($height-ratio));
  img {
    @extend %shadow-bottom;
    height: $size * $height-ratio / 2;
    margin: 0 auto;
    object-fit: cover;
    overflow: hidden;
    width: 100%;
  }
}

.entry-header-title {
  @extend %grid-column-8;
  margin: -rhythm-size-large(1) / 2 0;
}

.entry-header-details {
  @extend %grid-column-8;
  @extend %grid-container;
  font-style: italic;
  max-width: none;
  text-align: center;
}

.entry-header-details-time {
  @extend %grid-column-2;
  text-align: left;
}

.entry-header-details-author {
  @extend %grid-column-2;
  @extend %grid-column-offset-2;
  text-align: right;
}

.entry-header-details-sub {
  @extend %grid-column-8;
}

.entry-header-details-filed {
  @extend %grid-column-8;
}

.entry-header-details-comments {
  @extend %grid-column-8;
}