.entry-header {
  @include grid-row();
  margin: 0 auto;
  text-align: center;
}

.entry-header-hero {
  @include grid-column($columns: 12, $collapse: true);
  $height-ratio: 4;
  $size: -rhythm-size-large($height-ratio) * -calc-strip-unit(-rhythm-size-large($height-ratio));
  margin: 0;
  img {
    @include shadow-bottom;
    height: $size * $height-ratio / 4;
    @media #{$large-up} {
      height: $size * $height-ratio / 2;
    }
    margin: 0 auto;
    object-fit: cover;
    overflow: hidden;
    width: 100%;
  }
}

.entry-header-title {
  @include grid-column(12);
  margin: -rhythm-size-large(1) / 2 0;
  text-align: center;
}

.entry-header-details {
  @include grid-row();
  @include grid-column(12);
  font-style: italic;
  max-width: none;
  text-align: center;
}

.entry-header-details-time {
  @include grid-column(12);
  text-align: center;
  @media #{$large-up} {
    text-align: left;
  }
}

.entry-header-details-author {
  @include grid-column($columns:12);
  text-align: center;
  @media #{$large-up} {
    text-align: right;
  }
}

.entry-header-details-sub {
  @include grid-column(12);
}

.entry-header-details-filed {
  @include grid-column(12);
}

.entry-header-details-filed-label {
  display: none;
  @media #{$medium-up} {
    display: block;
  }
}

.entry-header-details-comments {
  @include grid-column(12);
}