.entry-preview {
  @include grid-row();
}

.entry-preview-image {
  @include grid-column($columns: 12, $collapse: true);
  img {
    height: 100%;
    object-fit: fill;
    width: 100%;
  }
}

.entry-preview-info {
  @include grid-column(12);
  text-align: center;
}

.entry-preview-info-author {
  @include grid-column(5);
  display: none;
  @media #{$large-up} {
    display: block;
  }
}

.entry-preview-info-share {
  @include grid-column($columns: 4, $offset: 1);
  @include grid-row();
  display: none;
  @media #{$medium-up} {
    display: block;
  }
}

.entry-preview-info-share-button {
  @include grid-column(2);
}

.entry-preview-info-content {
  @include grid-column(12);
  @media #{$medium-up} {
    margin-top: $rhythm-item-small;
  }
}