@import "../patterns/patterns";

#gallery-wrapper {
  @include grid-row();
  margin: 0 0 -rhythm-size-large(6);
}

#gallery-side {
  @include grid-column(4);
  display: none;
  padding: 0;
  @media #{$large-up} {
    display: inherit;
  }
  > div {
    @include grid-column(12);
    @extend %shadow-right;
    padding: 0;
    position: fixed;
  }
}

#gallery-nav {
  height: 65%;
  overflow-y: auto;
  padding: 0 1rem;
}

.gallery-logo {
  @include rhythm-padding(1);
  height: 35%;
  a {
    margin: 2em auto;
    text-align: center;
  }
}

.gallery-about {
  @include grid-column(12);
}

#gallery-primary {
  @include grid-column($columns: 12, $collapse: true);
  @media #{$large-up} {
    @include grid-column(8);
  }
}

.pattern {
  @extend %rhythm-item-large;
  @include grid-row();
  @include grid-column($columns: 12, $collapse: true);
}

.pattern-section {
  @extend %rhythm-item-small;
}

.pattern-details {
  padding: 1em 0 0;
}
