$border-corners: tl, tr, bl, br;
$border-sizes: small, medium, large;

@mixin border-radius-small($tl: true, $tr: true, $bl: true, $br: true) {
  $border-size: nth($border-sizes, 1);
  $radius: -rhythm-size(1);
  border-radius: 0;
  @if $tl {
    border-top-left-radius: $radius;
  }
  @if $tr {
    border-top-right-radius: $radius;
  }
  @if $bl {
    border-bottom-left-radius: $radius;
  }
  @if $br {
    border-bottom-right-radius: $radius;
  }
}

@mixin border-radius-medium($tl: true, $tr: true, $bl: true, $br: true) {
  $border-size: nth($border-sizes, 2);
  $radius: -rhythm-size(2);
  @if $tl {
    border-top-left-radius: $radius;
  }
  @if $tr {
    border-top-right-radius: $radius;
  }
  @if $bl {
    border-bottom-left-radius: $radius;
  }
  @if $br {
    border-bottom-right-radius: $radius;
  }
}


@mixin border-radius-large($tl: true, $tr: true, $bl: true, $br: true) {
  $border-size: nth($border-sizes, 3);
  $radius: -rhythm-size(3);
  @if $tl {
    border-top-left-radius: $radius;
  }
  @if $tr {
    border-top-right-radius: $radius;
  }
  @if $bl {
    border-bottom-left-radius: $radius;
  }
  @if $br {
    border-bottom-right-radius: $radius;
  }
}





$border-seperator-color: $color-accent-2;

@mixin border-seperator-top {
  border-color: $border-seperator-color;
  border-style: solid;
  border-width: 1px 0 0;
}