//TODO Consistent rhythm sizes
$form-input-padding: $button-small-padding-vertical;

input[type="text"] {
  @include type-size-medium;
  @include border-radius-medium;
  border: 1px solid $button-bg-color;
  color: $color-text-lighter;
  outline: none;
  padding: $form-input-padding;
}

input[type="submit"] {
  @include button;
  @include button-primary;
  @include button-small;
  border: 0;
  margin-right: 0;
}