//Based off of http://foundation.zurb.com/docs/media-queries.html

// 0, 640px
$media-small-range: 0em, 40em;

// 641px, 1024px
$media-medium-range: 40.063em, 64em;

// 1025px, 1440px
$media-large-range: 64.063em, 90em;

// 1441px, 1920px
$media-xlarge-range: 90.063em, 120em;

// 1921px
$media-xxlarge-range: 120.063em;

$media-screen: "only screen" !default;

$media-landscape: "#{$media-screen} and (orientation: landscape)" !default;
$media-portrait: "#{$media-screen} and (orientation: portrait)" !default;

$media-small-up: $media-screen !default;
$media-small-only: "#{$media-screen} and (max-width: #{upper-bound($media-small-range)})" !default;

$media-medium-up: "#{$media-screen} and (min-width:#{lower-bound($media-medium-range)})" !default;
$media-medium-only: "#{$media-screen} and (min-width:#{lower-bound($media-medium-range)}) and (max-width:#{upper-bound($media-medium-range)})" !default;

$media-large-up: "#{$media-screen} and (min-width:#{lower-bound($media-large-range)})" !default;
$media-large-only: "#{$media-screen} and (min-width:#{lower-bound($media-large-range)}) and (max-width:#{upper-bound($media-large-range)})" !default;

$media-xlarge-up: "#{$media-screen} and (min-width:#{lower-bound($media-xlarge-range)})" !default;
$media-xlarge-only: "#{$media-screen} and (min-width:#{lower-bound($media-xlarge-range)}) and (max-width:#{upper-bound($media-xlarge-range)})" !default;

$media-xxlarge-up: "#{$media-screen} and (min-width:#{lower-bound($media-xxlarge-range)})" !default;
$media-xxlarge-only: "#{$media-screen} and (min-width:#{lower-bound($media-xxlarge-range)}) and (max-width:#{upper-bound($media-xxlarge-range)})" !default;