.swatch-set {
  @extend %clearfix;
  width: 100%;
}

.swatch {
  @extend %grid-container;
  display: inline-block;
  height: 4em;
  text-align: center;
  width: 100%;
}

.swatch-info {
  @extend %grid-column-2;
  @extend %type-size-large;
  @extend %align-middle;
  font-weight: bold;
}

.swatch-display {
  @extend %grid-column-6;
  @extend %border-radius-large;
  height: 100%;
}

@mixin swatch-color($color) {
  background-color: $color;
  span {
    &::after {
      content: ": " + $color;
    }
  }
}

.swatch-text {
  @include swatch-color($color-text);
}

.swatch-link {
  @include swatch-color($color-link);
}

.swatch-fill {
  @include swatch-color($color-fill);
}

.swatch-accent-1 {
  @include swatch-color($color-accent-1);
}

.swatch-accent-2 {
  @include swatch-color($color-accent-2);
}