.swatch-set {
  @include clearfix();
  width: 100%;
}

.swatch {
  @include grid-row();
  display: inline-block;
  height: 4em;
  text-align: center;
  width: 100%;
}

.swatch-info {
  @include grid-column(4);
  @include type-size-large;
  @include align-middle;
  font-weight: bold;
}

.swatch-display {
  @include grid-column(8);
  @include border-radius-large;
  height: 100%;
}

@mixin swatch-color($color) {
  background-color: $color;
  span {
    &::after {
      content: ": " + $color;
    }
  }
}

.swatch-text {
  @include swatch-color($color-text);
}

.swatch-link {
  @include swatch-color($color-link);
}

.swatch-fill {
  @include swatch-color($color-fill);
}

.swatch-accent-1 {
  @include swatch-color($color-accent-1);
}

.swatch-accent-2 {
  @include swatch-color($color-accent-2);
}