.user-author {
  @include grid-row();
  line-height: $user-avatar-small-size;
}

.user-author-avatar {
  @include grid-column(0);  
  display: none;
  @media #{$medium-up} {
    @include grid-column(2);
    display: block;
  }
  .user-avatar {
    margin: 0;
  }
}

.user-author-info {
  @include grid-column($columns: 6, $collapse: true);
  @include grid-row();
  text-indent: -rhythm-size(2);
}

.user-author-info-name {
  @include grid-column($columns: 12, $collapse: true);
  line-height: $user-avatar-small-size/2;
}

.user-author-info-date {
  @include grid-column($columns: 12, $collapse: true);
  @include type-size-small;
  color: $color-text-lightest;
  line-height: $user-avatar-small-size/2;
}