$user-avatar-size: 100%;
$user-avatar-small-size: -rhythm-size-large(3);
$user-avatar-size-limit: -rhythm-size-large(2) * 3;

.user-avatar {
  @include effect-shade-hover;
  display: block;
  margin: 0 auto;
  max-height: $user-avatar-size-limit;
  max-width: $user-avatar-size-limit;
  width: $user-avatar-size;
  &::after {
    border-radius: $user-avatar-size / 2;
    max-height: $user-avatar-size-limit;
    max-width: $user-avatar-size-limit;
  }
  img {
    border-radius: $user-avatar-size / 2;
    display: block;
    height: 100%;
    margin: 0 auto;
    max-height: $user-avatar-size-limit;
    max-width: $user-avatar-size-limit;
    object-fit: cover;
    width: 100%;
    @media #{$large-up} {
      width: 100%;
      height: 100%;
    }
  }
}

.user-avatar-small {
  height: $user-avatar-small-size;
  width: $user-avatar-small-size;
}