.user-card {
  @include grid-row();
  height: 140px;
  //TODO no magic numbers
}

.user-card-avatar {
  @include grid-column($columns: 12, $center: true);
  .user-avatar {
    height: $user-avatar-size-limit;
    width: $user-avatar-size-limit;
  }
}

.user-card-info {
  @include grid-column(12);
  text-align: center;
  .user-link {
    display: inline-block;
    margin: -rhythm-size(1) 0;
    text-align: center;
  }
}

.user-card-bio {
  @include grid-column(12);

  p {
    @include type-size-small;
  }
}

.user-card-primary {
  @include grid-column($columns:12, $offset:0);
}

.user-card-about {
  @include grid-column(12);
  @include align-middle;
  display: none;
  @media #{$medium-up} {
    display: block;
  }
  p {
    @include type-size-small;
  }
}