.user-card {
  @extend %grid-container;
  height: 140px;
  //TODO no magic numbers
}

.user-card-avatar {
  @extend %grid-column-8;
}

.user-card-info {
  @extend %grid-column-8;
  text-align: center;
  .user-link {
    display: inline-block;
    margin: -rhythm-size(1) 0;
    text-align: center;
  }
}

.user-card-bio {
  @extend %grid-column-8;
  p {
    @extend %type-size-small;
  }
}

.user-card-primary {
  @extend %grid-column-1-collapsed;
  @extend %grid-column-offset-2;
}

.user-card-about {
  @extend %grid-column-3;
  @extend %align-middle;
  p {
    @extend %type-size-small;
  }
}