.share-bar {
  @include grid-row();
  line-height: $share-button-size;
}

.share-bar-count {
  @include grid-column(12);
}

.share-bar-buttons {
  @include grid-row();
  @include grid-column(7);
  display: none;
  @media #{$large-up} {
    display: block;
  }
}

.share-bar-button {
  @include grid-column(2);
}