ul {
  list-style-type: none;
  li {
    display: list-item;
  }
}

@mixin list-scroll {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto !important;
}

@mixin list-buttons {
  li {
    width: 100%;
    a {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}