$type-font-family-sans-serif: "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif !default;
$type-font-family-serif: "Georgia", serif !default;
$type-font-family-mono: Consolas, "Lucida Console", Courier, monospace !default;

@mixin type-font-family-sans-serif {
  font-family: $type-font-family-sans-serif;
}

@mixin type-font-family-serif {
  font-family: $type-font-family-serif;
}

@mixin type-font-family-mono {
  font-family: $type-font-family-mono;
}

.type-sans-serif {
  @include type-font-family-sans-serif;
}

.type-serif {
  @include type-font-family-serif;
}

.type-mono {
  @include type-font-family-mono;
}