$type-size-small: -rhythm-type-size(1) * 0.9;
$type-size-medium: -rhythm-type-size(1);
$type-size-large: -rhythm-type-size(2);

@mixin type-size-small {
  font-size: $type-size-small;
}

@mixin type-size-medium {
  font-size: $type-size-medium;
}

@mixin type-size-large {
  font-size: $type-size-large;
}

.type-small {
  @include type-size-small;
}

.type-medium {
  @include type-size-medium;
}

.type-large {
  @include type-size-large;
}