$button-group-border-color: $color-silver-dark;

.button-group {
  display: inline-block;
  margin-right: $button-margin;
  .button-wrapper {
    $border: 1px solid $button-group-border-color;
    &:first-of-type {
      .button {
        @include border-radius-small($tr: false, $br: false);
      }
    }
    &:last-of-type {
      .button {
        @include border-radius-small($tl: false, $bl: false);
        border-right: 0;
      }
    }
    .button {
      border-radius: 0;
      border-right: $border;
      margin-right: 0;
    }
  }
}