$button-bg-color: darken($color-silver, 5%);
$button-bg-color-hover: darken($button-bg-color, 5%);
$button-bg-color-loading: lighten($button-bg-color, 5%);
$button-text-color: darken($color-silver, 50%);
$button-text-color-loading: darken($button-bg-color, 10%);

$button-margin: -rhythm-size-large(2);
$button-padding-vertical: -rhythm-size(4);
$button-padding-horizontal: -rhythm-size(4);//4

.button-wrapper {
  display: inline-block;
}

@mixin button() {
  @include border-radius-small;
  @include type-size-medium;
  background-color: $button-bg-color;
  box-sizing: content-box;
  color: $button-text-color;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin: $rhythm-item-small 0;
  margin-right: $button-margin;
  max-height: 49px;
  padding: $button-padding-vertical / 2 $button-padding-horizontal / 2;
  @media #{$medium-up} {
    padding: $button-padding-vertical $button-padding-horizontal;
  }
  &:hover {
    background-color: $button-bg-color-hover;
    color: $button-text-color;
  }
  &.button-loading {
    background-color: $button-bg-color-loading;
    color: $button-text-color-loading;
    .button-loader {
      @include loading-triangle($button-text-color);
    }
  } 
}

.button {
  @include button;
}

@import "primary";
@import "small";
@import "buttongroup";
@import "combo";

.button-disabled {
  cursor: not-allowed !important;
}