.button-combo {
  @include border-radius-small($tr: false, $br: false);
  float: left;
  margin-right: 0;
}

.button-combo-opened {
  margin-bottom: 0;
}

.button-dropdown {
  @include border-radius-small($bl: false, $tl: false);
  font-weight: normal;
  margin-bottom: 0;
  margin-right: $button-margin;
}

.button-combo-options {
  //display: block;
  clear: both;
  display: none;
  ul {
    @include shadow-fan-bottom;
    @include border-radius-small;
    display: block;
    padding: -rhythm-size-large(1);
  }
}