%loading-hourglass {
  animation: loading-hourglass 5s cubic-bezier(0.8, 0, 0.2, 1) infinite;
  display: inline-block;
  height: 40px;
  left: calc(50% - 20px);
  position: absolute;
  top: calc(50% - 20px);
  width: 41px;
}

@keyframes loading-hourglass {
  90% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}


%loading-hourglass-top {
  animation: loading-hourglass-top 5s linear infinite;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid $color-accent-2;
  height: 0;
  transform-origin: 50% 100%;
  width: 1px;
}

@keyframes loading-hourglass-top {
  90% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}


%loading-hourglass-bottom {
  animation: bottom 5s linear infinite;
  border-bottom: 20px solid $color-accent-2;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  height: 0;
  transform: scale(0);
  transform-origin: 50% 100%;
  width: 1px;
}

@keyframes loading-hourglass-bottom {
  10% {
    transform: scale(0);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}


%loading-hourglass-line {
  animation: line 5s linear infinite;
  border-left: 1px dotted $color-accent-2;
  height: 0;
  left: 20px;
  position: absolute;
  top: 20px;
  width: 0;
}

@keyframes loading-hourglass-line {
  10% {
    height: 20px;
  }
  100% {
    height: 20px;
  }
}